.primary {
  background-color: #7c73e6;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.primary.active {
  background-color: #36bfbf;
}

.secondary {
  background-color: #ffffff;
  color: #7c73e6;
  border: 3px solid #7c73e6;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.secondary.active {
  color: #36bfbf;
  border: 3px solid #36bfbf;
}
