@import url('../../styles/theme/colors.module.css');

.item {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin: 10px 0;
  width: 50%;
}

.item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 2rem;
}

.content {
  width: 60rem;
  box-shadow: 2px 2px 15px var(--grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 0rem 1rem 0rem;
  background-color: var(--white);
  color: var(--black);
}

.item:nth-child(odd) .content:nth-child(odd) {
  align-items: flex-start;
  text-align: left;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .item {
    width: 40%;
    align-self: center;
    padding: 0;
  }

  .item:nth-child(odd) {
    align-self: center;
    padding: 0rem;
  }

  .content {
    align-items: flex-start;
    text-align: left;
  }
}
