@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Heebo:wght@300&family=Lato&family=Montserrat+Alternates:wght@100&family=Nunito+Sans:opsz,wght@6..12,300&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Geologica:wght@100&family=Heebo:wght@300&family=Lato&family=Montserrat+Alternates:wght@100&family=Mulish:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@400;500;600;700;800&family=Raleway:wght@300&family=Ubuntu&display=swap');
@import url('../styles/theme/colors.module.css');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Geologica', sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

.light {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--light);
  color: var(--dark);
}

.dark {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark);
  color: var(--light);
}

section {
  margin-top: 15rem;
}
