.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 8rem;
  font-family: 'Poppins', sans-serif;
}

.name {
  max-width: 50rem;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.text {
  margin: 0;
  max-width: 50rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 0.5rem;
  width: 3rem;
  cursor: pointer;
}

.picture {
  width: 25rem;
  position: relative;
  animation-name: picture;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes picture {
  0% {
    left: 0rem;
    top: 0.5rem;
  }

  25% {
    left: 0rem;
    top: 0rem;
  }

  50% {
    left: 0rem;
    top: 0.5rem;
  }

  75% {
    left: 0rem;
    top: 0rem;
  }

  100% {
    left: 0rem;
    top: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .introduction {
    flex-wrap: wrap;
    margin-left: 1rem;
  }

  .buttons {
    justify-content: center;
  }
}
