.introduction {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
  margin-top: 10rem;
  margin-left: 8rem;
  font-family: 'Poppins', sans-serif;
}

.name {
  max-width: 50rem;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.text {
  margin: 0;
  max-width: 50rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 0.5rem;
  width: 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .introduction {
    flex-wrap: wrap;
    margin-left: 1rem;
  }

  .buttons {
    justify-content: center;
  }
}
