@import url('../../styles/theme/colors.module.css');

.header {
  position: fixed;
  z-index: 1;
  width: -webkit-fill-available;
  background: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem;
  padding: 0.5rem;
}

.header.dark {
  background: var(--dark);
  color: var(--light);
}
