/* TODO: Add styles for timeline */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.container::after {
  background-color: #000000;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.item {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin: 10px 0;
  width: 50%;
}

.item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 2rem;
}

.content {
  width: 30rem;
  box-shadow: 2px 2px 15px rgb(191, 181, 181);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 0rem 1rem 0rem;
}

.item:nth-child(odd) .content:nth-child(odd) {
  align-items: flex-start;
  text-align: left;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}
