@import url('../../styles/theme/colors.module.css');

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.container::after {
  background-color: var(--light);
  border-radius: 1rem;
  content: '';
  position: absolute;
  left: 50%;
  width: 0.1rem;
  height: 100%;
}

.container.light::after {
  background-color: var(--dark);
}

@media only screen and (max-width: 768px) {
  .container::after {
    left: 25%;
  }
}
